:root {
  --color: #fecea8;
  --background: #2a363b;
}
* {
  box-sizing: border-box;
}
body {
  color: var(--color);
  background: var(--background);
}
#app {
  width: 100vw;
  height: 100vh;
}
h1 {
  font-size: 1.5em;
  font-weight: 400;
  span {
    font-weight: 100;
  }
}
h3 {
  font-weight: 100;
  span {
    // font-family: 'Audiowide', cursive;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 400;
    font-size: 2em;
  }
}
.timer {
  height: 100%;
  display: grid;
  grid-template: 25% 25% 50% / 1fr 250px 1fr;
  padding-top: 2em;
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;

  .timer--head {
    grid-row-start: 1;
    grid-column-start: 2;
    display: grid;
    align-items: center;

    button {
      display: inline-block;
      float: left;
      width: calc(100% / 3);
      font-size: 2em;
      color: var(--color);
      border: 0px solid var(--color);
      background: var(--background);
    }
  }
  .timer--counter {
    grid-row-start: 2;
    grid-column-start: 2;
    display: grid;
    align-items: center;
  }
  .timer--clock {
    grid-row-start: 3;
    grid-column-start: 2;
    display: grid;
    align-items: center;
  }
}

.circle {
  position: relative;
  display: inline-block;
  border-radius:50% 50%;
  width:250px;height:250px;
  background:white;
  .center-circle { // Time inside circle
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    color: var(--background);
    margin: 0;
  }
}
.second {
  display: inline-block;
  border-radius:50% 50%;
  width:250px;height:250px;
  background:white;
}
.second::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 50%;
  background: linear-gradient(red 60%, transparent 40%);
  bottom: 50%;
  left: 50%;
}
.minute {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: inline-block;
  border-radius:50% 50%;
  width:250px;height:250px;
  background: #ff847c;
  opacity: .5;
}
